body {
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

.back-page {
    /* background-color: aqua; */
    width: 100%;
}

.back-page .back-container {
    margin-inline: 15%;
    margin-top: 90px;
}

.back-page .back-container>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #626263;
}

.back-page .back-container>h1 {
    font-size: 28px;
    font-weight: 600;
    color: #0f172a;
}

.back-page .back-container>p {
    color: #717182;
    margin: 0;
}

.container {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 100px;
    /* background-color: antiquewhite; */
}

.container .dep-container {
    margin-inline: 15%;
    /* background-color: greenyellow; */
    display: grid;
    justify-content: center;
}

.container .dep-container .title-dep {
    text-align: center;
}

.container .dep-container .title-dep>h1 {
    font-size: 40px;
    color: #0A0A0A;
}

.container .dep-container .title-dep>p {
    font-size: 20px;
    color: #717182;
}

.container .dep-container .dep-grid {
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    justify-content: center;
    gap: 20px;
}

.container .dep-container .dep-grid .dep-card {
    border: 1px solid rgb(208, 207, 207);
    border-radius: 10px;
    padding: 20px 50px;
    transition: tranform 0.2 ease, box-shadow 0.3 ease;
    box-shadow: 0px 4px 6px rgb(219, 217, 217);
    /* background-color: #717182; */
}

.container .dep-container .dep-grid .dep-card:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgb(219, 217, 257);
}

.department {
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: rebeccapurple; */

}

.department .icon {
    font-size: 30px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.department .purple {color: #AD46FF;}
.department .green {color: rgb(13, 235, 13);}
.department .red {color: #FB2C36;}
.department .blue {color: rgb(82, 82, 249);}

.department .dep-title>p:first-child {
    font-size: 20px;
}

.department .dep-title>p:last-child {
    color: #717182;
}

.container .dep-container .dep-grid .dep-card>button {
    margin-left: 60px;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.container .dep-container .btn {
    width: 100%;
    /* background-color: #717182; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .dep-container .btn>button {
    padding: 20px 60px;
    /* width: 200px; */
    margin-top: 50px;
    background-color: #030213;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
}