@media (max-width: 767.99px) {
    .container {
        display: grid;
    }

    .sidebar {
        width: 100%;
        min-height: 50px;
        background: #4361ee;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding-top: 100px;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-inline: 10px; */
    }

    .search {
        position: relative;
        width: 150px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .pro-info {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .pro-info {
        text-align: center
    }

}